@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    a,
    button.as-link {
        @apply text-accent-500 underline;

        &:hover,
        &:focus {
            @apply text-accent-600;
        }
    }

    h1 + *,
    h2 + *,
    h3 + *,
    h4 + *,
    h5 + *,
    h6 + * {
        @apply !mt-2;
    }
}

@layer components {
    .align-full {
        &.bg-primary-500,
        &.bg-primary-500 .prose,
        &.bg-accent-500,
        &.bg-accent-500 .prose {
            @apply text-black;
        }
    }
}

@layer utilities {
    .align-full {
        @apply relative z-0;

        &::before {
            @apply absolute inset-0 bg-inherit;
            content: "";
            z-index: -1;
            background-color: inherit;
            margin-left: calc((100% - 100vw) / 2);
            margin-right: calc((100% - 100vw) / 2);

            @screen md {
                margin-left: calc(((theme("screens.md") - 48px) - 100vw) / 2);
                margin-right: calc(((theme("screens.md") - 48px) - 100vw) / 2);
            }

            @screen lg {
                margin-left: calc(((theme("screens.lg") - 48px) - 100vw) / 2);
                margin-right: calc(((theme("screens.lg") - 48px) - 100vw) / 2);
            }
        }
    }
}
