@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    a,
    button.as-link {
        @apply text-accent-500 underline;

        &:hover,
        &:focus {
            @apply text-accent-600;
        }
    }

    h1 + *,
    h2 + *,
    h3 + *,
    h4 + *,
    h5 + *,
    h6 + * {
        @apply !mt-2;
    }
}

@layer components {
    .wrapper {
        &.bg-primary-500,
        &.bg-primary-500 .prose,
        &.bg-accent-500,
        &.bg-accent-500 .prose {
            @apply text-black;
        }
    }
}

@layer utilities {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr min(1024px, calc(100% - 4rem)) 1fr;
        grid-column-gap: 2rem;

        & > * {
            grid-column: 2;
        }

        & .wrapper {
            width: 100%;
            grid-template-columns: 1fr;
            grid-column: 1 / -1;
            grid-column-gap: 0;
        }
    }
}
